<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIFA Game Result</title>
    <form action = "/login" method = "POST">
        <p> <b>Enter FIFA game date: </b> </p>
        <p><input type = "text" name = "nm"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</head>
<style>
th {
  text-align: left;
}

</style>
<body style="background-color:teal;">
    
    <table border = 1, style="width:100%">
        <tr>
            <th>Game Date</th>
            <th>Team 1</th>
            <th>Teams 2</th>
            <th>Score</th>
            <th>Winner</th>
          </tr>
        {%for game in games%} 
           <tr>
              <td>{{game_date}}</td>  
              <td>{{game["team1"]}}</td>
              <td>{{game["team2"]}}</td>
              <td>{{game["score"]}}</td>
              <td>{{game["winner"]}}</td>
          
           </tr>
        {%endfor%}

        {%for x in data%}
            {%for gameall in data[x]%} 
                {%if x != "no_game"%}
       <tr>
          <td>{{x}}</td>
          <td>{{gameall["team1"]}}</td>
          <td>{{gameall["team2"]}}</td>
          <td>{{gameall["score"]}}</td>
          <td>{{gameall["winner"]}}</td>
          
       </tr>
                {% endif %}
            {%endfor%}
        {%endfor%}

     </table>

     
</body>
</html>
