<!doctype html>
<html>
   <style>
      h1 {text-align: center;}
      body {
         background-image: url('https://images.unsplash.com/photo-1518091043644-c1d4457512c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80');
}
      </style>
   <body style="background-color:teal">          
      <form action = "/home" method = "POST">
         <h1 text-align="center"> Welcome to the FIFA World Cup 2022</h1>
         <p><h3>Enter userID</h3></p>
         <p><input type = "text" name = "nm"/></p>
         <p><input type = "submit" value = 'Login'/></p>
      </form>
   </body>
</html>
